@if (ViewData["Title"] != null)
{
    <h1 style="color:blue">@ViewData["Title"]</h1>
}
<h1>Dodavanje trenutnog stanja brojila</h1>


    <form method="post" action="@Url.Action("PostData", "HomeController")">
        <label>ID: </label><input id="id" name="id" type="text" required />
        <label>ID brojila: </label><input id="idCurrentMeter" name="idCurrentMeter" type="text" required />
        <label>Lokacija: </label><input id="location" name="location" type="text" required />
        <label>Staro stanje: </label><input id="oldState" name="oldState" type="number" step="0.01" required />
        <label>Novo stanje: </label><input id="newState" name="newState" type="number" step="0.01" required />
        <input type="submit" />
    </form>